In [10]:
#This is a comment line

name= "Clarusway\" is a good bootcamp"\
"Henry"
print(name)

Clarusway" is a good bootcampHenry

In [11]:
name="Resul"
last_name="Tolu"

full_name=name +" "+last_name
print(full_name)

Resul Tolu

In [12]:
a="Hello World!"
b=a[:]
print(b)
print(a[::-1])

Hello World!
!dlroW olleH

In [13]:
c=" hello world! "
c.strip()

'hello world!'

In [14]:
c=" hello world! "
c.rstrip()

' hello world!'

In [17]:
num = 7//2
print(num)
type(num)

3

int

In [18]:
num = 7/2
print(num)

3.5

In [20]:
b1= 7<2
b1

False

In [22]:
b1 = 5 =='5'
b1

False

In [27]:
True or False

True

In [28]:
not True or False or True

True

In [29]:
['1'] or False

['1']

In [30]:
list1 = ["Apple", 1, 3.5, True, [1, 3], {"Ready": "yes"}]
list1.append("Apple")
list1

['Apple', 1, 3.5, True, [1, 3], {'Ready': 'yes'}, 'Apple']

In [33]:
popped=list1.pop()
popped

[1, 3]

In [35]:
list1=[1,2,3,4]
list2=[6,7,8,9]
list1.extend(list2)
list1

[1, 2, 3, 4, 6, 7, 8, 9]

In [36]:
list2.insert(1,5)
list2

[6, 5, 7, 8, 9]

In [37]:
list2.reverse()
list2

[9, 8, 7, 5, 6]

In [40]:
list3=[1,35,5,745,745,53,32,213,123,213,]
list3.sort()
list3

[1, 5, 32, 35, 53, 123, 213, 213, 745, 745]

In [41]:
sorted(list3)

[1, 5, 32, 35, 53, 123, 213, 213, 745, 745]

In [42]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
x

'Mustang'

In [50]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.pop("model")
x

'Mustang'

In [59]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

In [64]:
a1={"apple","banana","cherry","watermelon"}
a2={"apple"}
a1.intersection_update(a2)
a1

{'apple'}

In [68]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  if fruit =="banana":
    continue
  print(fruit)

apple
cherry

In [69]:
adjs = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adj in adjs:
  for fruit in fruits:
    print(adj, fruit)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [71]:
for x in [0,1,2,3,4,5]:
    pass #boş bırakırsan hata verir

In [73]:
def my_function():
    return "Hello from a function"

my_function()

'Hello from a function'

In [75]:
def my_function(name, last_name):
    return "Hello {name} {last_name} how are you?"

my_function("John", "Smith")

'Hello {name} {last_name} how are you?'

In [81]:
import time

def elapsed_time(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time()
        print(f'Elapsed time: {(t2 - t1) * 1000} ms')
    return wrapper

@elapsed_time
def big_sum():
    num_list = []
    for num in (range(0, 100000)):
        num_list.append(num)
    print(f'Big sum: {sum(num_list)}')

big_sum()

Big sum: 4999950000
Elapsed time: 27.972698211669922 ms